<?xml version="1.0" encoding="UTF-8"?>
<config>
 
 <!-- Configuration de base du Module -->
    <modules>
        <Hhennes_LoginAs>
            <version>0.1.0</version>    
        </Hhennes_LoginAs>
    </modules>
 <!-- Configuration globale -->
    <global>
        <models>
            <hhennes_loginas>
            <class>Hhennes_LoginAs_Model</class>
            </hhennes_loginas>
        </models>
        <helpers>
            <hhennes_loginas>
                <class>Hhennes_LoginAs_Helper</class>
            </hhennes_loginas>
        </helpers>
    </global>
  <!-- Configuration Front Office-->
    <frontend>
        <routers>
            <hhennes_loginas>
                <use>standard</use>
                <args>
                    <module>Hhennes_LoginAs</module>
                    <frontName>hhennes_loginas</frontName>
                </args>
            </hhennes_loginas>
        </routers>
        <!-- Traduction du module -->
         <translate>
            <modules>
                <hhennes_LoginAs>
                    <files>
                        <default>Hhennes_LoginAs.csv</default>
                    </files>
                </hhennes_LoginAs>
            </modules>
        </translate>
    </frontend>  
    <!-- Configuration back Office -->
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <mymodule>
                        <!-- Add column to catalog product grid -->
                        <class>hhennes_loginas/observer</class>
                        <method>addCustomerLoginAsColumn</method>
                    </mymodule>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <!-- Traduction du module -->
         <translate>
            <modules>
                <Hhennes_LoginAs>
                    <files>
                        <default>Hhennes_LoginAs.csv</default>
                    </files>
                </Hhennes_LoginAs>
            </modules>
        </translate>
    </adminhtml>  
</config>
